<br />
<br />

<div class="text-center">
    <h2 class="h2">Thanks!</h2>
    <p class="h4">Thanks for placing your order.</p>
    <p class="h4">We'll ship your goods as soon as possible.</p>
</div>

<br />
<br />
<br />