@model List<WebGUI.App_Data.Product>

@{
    double c = Model.Count / 3;
    int Length = Convert.ToInt32(Math.Ceiling(c));
    int k = 0;
}

<nav class="track">
    <div class="container">
        <div class="logo">
            <a href="/Home/index"><img src="~/Images/Logo.PNG" width="70" height="70"></a>
        </div>
        <ul class="list-track m-auto">
            <li class="active"> Get Ready  </li>
            <li> Customize </li>
            <li> Checkout </li>
        </ul>
    </div>
</nav>

<section class="started">
    <div class="container">
        <h3 class="text-center head-start">What part of your morning routine can we help with?</h3>
        @using (Html.BeginForm("Customize", "Product", FormMethod.Get))
        {
            for (; k <= Length; k += 3)
            {
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"></div>
                    @for (int j = k; j < k + 3; j++)
                    {
                        try
                        {
                            var item = Model[j];
                            <div class=" col-lg-2 col-md-4 col-sm-12 col-xs-12 checkbox">
                                <div class="image-check">
                                    <img src="@item.ImageUrl" title="get">
                                </div>
                                <label for="ncheck2" class=text-center>@item.Name</label><br>
                                <input type="radio" id="id" name="id" value="@item.ProductID"
                                       class="check text-center" />
                            </div>
                        }
                        catch (Exception)
                        {
                            <div class=" col-lg-3 col-md-4 col-sm-12 col-xs-12"></div>
                        }
                    }
                    <div class=" col-lg-3 col-md-4 col-sm-12 col-xs-12"></div>
                    <button class="next text-center">continue</button>
                </div>
            }
        }
    </div>
</section>

<br />
<br />