@model List<WebGUI.App_Data.Report_Financials_Result>

@{
    int i = 0;
}

<div class="w3-container">
    <div class="w3-container w3-xlarge">
        <div class="w3-left">
            <h2 class="h2">Financial Report</h2>
        </div>
        <div class="w3-right w3-twothird">
        </div>
    </div>

    <br />

    <center>
        @Html.ActionLink("Export to Report", "FinancialReport", null, new { @class = "btn btn-info" })
    </center>

    <br>
    <div class="w3-container">
        <table class="table table-hover table-condensed table-bordered">
            <tr class="w3-blue text-center">
                <th>No</th>
                <th>Year</th>
                <th>Total seliing prices </th>
            </tr>
            @foreach (var item in Model)
            {
                i++;
                <tr class="text-center">
                    <td>@i</td>
                    <td>@item.Year</td>
                    <td>@Convert.ToDecimal(item.TotalPrice).ToString("c")</td>
                </tr>
            }
        </table>

    </div>
</div>