@model List<WebGUI.Areas.Admin.Models.UsersReport>

<div class="w3-container">
    <div class="w3-container w3-xlarge">
        <div class="w3-left">
            <h2 class="h2">User Report</h2>
        </div>
        <div class="w3-right w3-twothird">
        </div>
    </div>

    <br />

    <center>
        @Html.ActionLink("Export to Report", "UsersReport", null, new { @class = "btn btn-info" })
    </center>

    <br>
    <div class="w3-container">
        @Html.Partial("GetUsers", Model)
    </div>
</div>