@using Microsoft.AspNet.Identity

<div class="btn-log">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            <button type="button" class="btn btn-primary join bg-color">
                @Html.ActionLink("My Account", "Manage", "Account", new { area = "" }, new { title = "Manage" })
            </button>
            <button type="submit" class="btn btn-primary join bg-color">Log off</button>
        }
    }
    else
    {
        <button class="btn btn-primary join bg-color">
            @Html.ActionLink("Join In", "Register", "Account", null, new { id = "registerLink" })
        </button>
        <button class="btn btn-primary join bg-color">
            @Html.ActionLink("log In", "Login", "Account", null, new { id = "loginLink" })
        </button>
    }
</div>
