@model IEnumerable<string>

<br />
<br />

<div class="w3-container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>

<br />
<br />
<br />
<br />