// extran screen mobile 
$mainMobile  :    "(max-width  : 576px)";
// medium screen mobile 
$mediumMobile:    "(max-width  : 768px)";
// larg screen mobile
$tapMobile   :    "(max-width  : 992px)";
// xlarg screen mobile
$largMobile  :    "(max-width : 1200px)";
/*********** << -- END varabals -->> *************/
/*********** << -- END varabals -->> *************/