<br />
<br />

<div class="w3-container">
    <p class="h5 p-2">
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account",null, new { id = "loginLink text-white" })
    </p>
</div>

<br />
<br />
<br />
<br />
<br />
<br />