<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-phone text-center"></i>
                        <h5 class="card-title text-center">call us</h5>
                        <p class="card-text text-center">phone 011231232</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-location-arrow"></i>
                        <h5 class="card-title text-center">address</h5>
                        <p class="card-text text-center">egypt cairo any address</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-envelope-open-text"></i>
                        <h5 class="card-title text-center">email </h5>
                        <p class="card-text text-center">abdoabdalla@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-fax"></i>
                        <h5 class="card-title text-center">fax</h5>
                        <p class="card-text text-center">(020)0329347)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<seciton class="maps">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="map">
                    <h5 class="find head-after">Find our location</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13770.53365826758!2d30.976159350000003!3d30.36136665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1565619345860!5m2!1sar!2seg" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <div class="form">
                    <h5 class="intersted head-after">intersted in discussing</h5>
                    <form>
                        <input type="text" placeholder="Enter Name" class="one">
                        <input type="email" placeholder="Enter Email">
                        <input type="text" placeholder="Enter Subject">
                        <input type="tel" placeholder="Enter Phone">
                        <textarea placeholder="Enter Massage"></textarea>
                        <input type="submit" value="send your Massage" class="send">
                        <input type="reset" placeholder="Enter Phone" class="reset">
                    </form>
                </div>
            </div>     
        </div>
    </div>
</seciton>