<section class="head">
    <div class="container">
        <div class="content text-center">
            <h1 class="title">How It Works </h1>
            <p class="p-2">Our goal is to make sure you always have everything you need to look, feel, and smell your best. Here’s how it all goes down:</p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img src="~/images/1.svg">
                <div class="text">
                    <h4 class="title">Title This Is My Name</h4>
                    <p class="color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img src="~/images/2.svg">
                <div class="text">
                    <h4 class="h4">Title This Is My Name</h4>
                    <p class="p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  text-center">
                <img src="~/images/3.svg">
                <div class="text">
                    <h4 class="h4">Title This Is My Name</h4>
                    <p class="p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  text-center">
                <img src="~/images/4.svg">
                <div class="text">
                    <h4 class="h4">Title This Is My Name</h4>
                    <p class="p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="try_club">
    <div class="container">
        <div class="content text-center">
            <p class="p-2">By now you’re probably convinced of the wisdom of joining the club.</p>
            @Html.ActionLink("Try the club", "Clup", "Home", new { area = "" }, new { @class = "btn bg-color try" })
        </div>
    </div>
</section>