@model WebGUI.App_Data.Page

<link href="~/Content/pages/style.css" rel="stylesheet" />
<link href="~/Content/pages/bootstrap-grid.css" rel="stylesheet" />

<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-8 content-right-offset">

            <div class="single-page-section">
                <h2 class="margin-bottom-25 h2">@Model.Title</h2>
                <div class="w3-container">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />