@model WebGUI.App_Data.Page

<br />
<br />

<div class="w3-container">
    <div class="w3-container w3-wide">
        <h2 class="h2 text-center">@Model.Title</h2>
    </div>

    <div class="w3-container">
        @Html.Raw(Model.Description)
    </div>
</div>

<br />
<br />